@import 'imports';
$profile-size: 55px;
$logo-size: 80px;
$logo-size-xs: 60px;

.container {
  @extend .column,
  .full-width;
}

.profile-row {
  @extend .row,
  .full-width;

  padding: 20px 40px;
}

.logo-container {
  @extend .row,
  .center,
  .middle;
}

.logo {
  fill: $white;
  height: $logo-size;
  @include xs {
    height: $logo-size-xs;
    width: $logo-size-xs;
  }
  margin: 20px 20px 20px 0;
  width: $logo-size;
}

.upper-row {
  @extend .profile-row,
  .middle,
  .space-between;

  background-color: $green-cyan;
}

.title {
  color: $white;
  font-size: 30px;
  line-height: 30px;
}

.profile-container {
  @extend .column,
  .center;
}

.profile-picture-container {
  background-color: $white;
  border-radius: 100px;
  height: $profile-size;
  width: $profile-size;
}

.profile-picture {
  height: 100%;
  width: 100%;
}

.profile-title {
  color: $white;
  font-size: 14px;
  line-height: 22px;
  padding-top: 5px;
}
