@import 'imports';

.container {
  @extend .column,
  .center,
  .middle,
  .full-width,
  .full-height,
  .space-between;

  background-color: $te-papa-green;
}

.content-container {
  @extend .column,
  .center,
  .middle,
  .full-height,
  .full-width,
  .space-around;

  max-width: 450px;
}

.rescue-icon {
  height: 110px;
  width: 110px;
}

.rescue-title {
  font-size: 20px;
}
