@import 'imports';
$image-width: 40px;
$card-radius: 20px;

.card {
  align-items: center;
  background-color: white;
  border-radius: $card-radius;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 15px;
  padding: 0 15px 15px;
  width: 300px;
}

.texts {
  color: $blue-green;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 80%;
}

.text {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.name {
  @extend .text;

  color: $teal-blue;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card:hover {
  .pic {
    opacity: 0.8;
  }
}

.pic {
  border-top-left-radius: $card-radius;
  border-top-right-radius: $card-radius;
  width: 300px;
}
