@import 'imports';
$image-width: 40px;

.container {
  @extend .full-width,
  .column,
  .center,
  .middle;

  background-color: $green-cyan;
  height: 100vh;
}

.card {
  @extend .column,
  .center,
  .space-around;

  background-color: $white;
  box-shadow: 8px 8px 3px $green-sheen;
  height: 700px;
  margin: 15px;
  padding: 0 15px 15px;
  width: 600px;
}

.texts {
  align-items: center;
  color: $blue-green;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  margin-top: 15px;
  width: 80%;
}

.text {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.name {
  @extend .text;

  color: $teal-blue;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

.pic {
  width: 500px;
}

.title {
  @extend .row,
  .full-width,
  .center,
  .middle;

  color: $white;
  cursor: pointer;
  font-size: 28px;
  margin: 40px;
  text-transform: uppercase;
}

.button {
  background-color: $teal-blue;
  border-radius: 10px;
  color: $white;
  height: 60px;
  margin-top: 20px;
  width: 290px;

  &:hover {
    background-color: rgba($teal-blue, 0.3);
  }
}
