@import 'imports';
$image-width: 40px;
$card-radius: 20px;
$logo-size: 50px;

.container {
  @extend .full-width,
  .column,
  .center,
  .middle;

  background-color: $te-papa-green;
  height: 100vh;
}

.card {
  @extend .column,
  .center,
  .space-between;

  background-color: $white;
  border-radius: $card-radius;
  box-shadow: 8px 8px 3px $te-papa-green;
  height: 650px;
  margin: 15px;
  padding: 0 0 15px;
  width: 550px;
}

.texts {
  align-items: center;
  color: $blue-green;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  margin-top: 15px;
  width: 80%;
}

.text {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.name {
  @extend .text;

  color: $teal-blue;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

.pic {
  border-top-left-radius: $card-radius;
  border-top-right-radius: $card-radius;
  width: 100%;
}

.header-container {
  @extend .row,
  .full-width,
  .center,
  .middle;

  cursor: pointer;
  margin: 10px 0 20px;
}

.logo {
  fill: $caribbean-green;
  height: $logo-size;
  margin-right: 10px;
  width: $logo-size;
}

.title {
  color: $white;
  font-size: 28px;
}

.button {
  @extend .medium;

  background-color: $caribbean-green;
  border-radius: 10px;
  color: $white;
  height: 60px;
  margin-top: 20px;
  text-transform: uppercase;
  width: 290px;

  &:hover {
    background-color: $green-cyan;
  }
}
