@import 'imports';

.form-container {
  @extend .column,
  .full-width;
}

.button {
  background-color: $caribbean-green;
  border-radius: 10px;
  color: $white;
  height: 40px;
  margin-bottom: 35px;
}

.register-label {
  color: $white;
}

.input {
  margin-bottom: 0;
}
