@import 'imports';

.container {
  @extend .column,
  .center,
  .middle,
  .full-width,
  .space-between;
}

.form-container {
  @extend .column,
  .full-width;
}

.button {
  background-color: $caribbean-green;
  border-radius: 10px;
  color: $white;
  height: 40px;
  margin-bottom: 35px;
}

.register-icon {
  height: 110px;
  width: 110px;
}

.register-title {
  font-size: 20px;
}

.register-label {
  color: $white;
}

.error {
  font-size: 10px;
}

.input {
  margin-bottom: 0;
}
