@import 'src/scss/variables/colors';

@import 'src/scss/variables/breakpoints';

.container {
  background-color: $te-papa-green;
}

.login-container {
  border-radius: 10px;
  @include xs {
    height: 100%;
    margin: 0;
  }
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 450px;
}

.login-form-container {
  padding: 20px;
}

.login-banner {
  bottom: 0;
  max-height: 150px;
  position: absolute;
}

.login-welcome {
  color: $white;
  font-size: 18px;
  @include xs {
    margin-bottom: 15px;
  }
  line-height: 23px;
  margin-bottom: 25px;
}

.login-icon-title {
  fill: $caribbean-green;
  height: 150px;
  @include xs {
    height: 100px;
    width: 100px;
  }
  margin: 20px 0;
  width: 150px;
}
