@import 'imports';

.buttons-container {
  @extend .column,
  .full-width,
  .full-height,
  .center,
  .space-around ,
  .middle;

  max-width: 450px;
}

.button {
  height: 60px;
}

.title {
  color: $white;
  font-size: 30px;
  line-height: 30px;
}