@import 'imports';
$logo-size: 50px;

.container {
  background-color: $te-papa-green;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.content {
  @extend .column;

  overflow-x: hidden;
  overflow-y: auto;
}

.header-container {
  @extend .row,
  .full-width,
  .space-between;

  margin: 40px 0;
  padding: 0 50px;
}

.logo-container {
  @extend .row,
  .center,
  .middle;
}

.logo {
  fill: $caribbean-green;
  height: $logo-size;
  margin-right: 10px;
  width: $logo-size;
}

.title {
  color: $white;
  font-size: 28px;
}
