@import 'imports';

.container {
  background-color: $green-cyan;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.content {
  @extend .column;

  overflow-x: hidden;
  overflow-y: auto;
}

.title {
  @extend .row,
  .full-width,
  .center,
  .middle;

  color: $white;
  font-size: 28px;
  margin: 40px 0;
  text-transform: uppercase;
}
