@import 'imports';

.container {
  @extend .column,
  .full-width;

  height: 200px;
}

.text-area {
  background: $white;
  border: 2px solid $caribbean-green;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 150px;
  line-height: 24px;
  padding: 5px 15px;
  resize: none;
  width: 100%;

  &.text-area-error {
    border-color: $valencia;
  }
}
