@import 'imports';
$menu-icon-size: 23px;
$menu-text-height: 20px;
$sub-item-size: 15px;

%menu-item {
  @extend .row,
  .middle,
  .full-width,
  .p-left-4,
  .m-top-3,
  .m-bottom-3;

  height: 25px;
  text-align: left;
}

.sub-menu {
  @extend .row,
  .middle,
  .full-width,
  .space-between;
}

.sub-menu-title {
  @extend .text;
  @extend .m-left-1;
}

.sub-menu-title-clicked {
  @extend .semi-bold;
}

.container {
  @extend .column,
  .full-width;
}

.menu-item-selected {
  @extend %menu-item;

  color: $azure-radiant;
}

.border {
  @extend .self-center;

  background-color: $azure-radiant;
  border-radius: 3px 0 0 3px;
  height: 45px;
  width: 5px;
}

.menu-item-not-selected {
  @extend %menu-item;

  color: $white;

  &.menu-item-hovered {
    color: $azure-radiant;

    &.secondary {
      color: $torch-red;
    }
  }
}

.menu-icon {
  height: $menu-icon-size;
  width: $menu-icon-size;

  &.menu-icon-img-selected path {
    fill: $azure-radiant;
  }

  &.secondary path {
    fill: $torch-red;
  }
}

.menu-icon-selected {
  background-color: $light-green;
  border-radius: 30px;
}

.selected-text {
  color: $brand-primary;
}

.sub-menu-container {
  @extend .full-width;

  color: $brand-primary;
  padding-left: 20px;
}

.sub-item {
  @extend .smaller-text;
}

.sub-item-icon {
  height: $sub-item-size;
  width: $sub-item-size;
}
