@import 'imports';
$menu-icon-size: 23px;
$menu-text-height: 20px;
$sub-item-size: 15px;

%menu-item {
  @extend .row,
  .middle,
  .full-width,
  .m-top-3,
  .m-bottom-3;

  height: 25px;
  color: $white;
}

.sub-menu {
  @extend .row,
  .middle,
  .full-width,
  .space-between
}

.sub-menu-title {
  color: $white;
  font-size: 22px;
}

.sub-menu-title:hover {
  color: $green-cyan;
}

.sub-menu-title-selected {
  @extend .semi-bold;
}

.container {
  @extend .column,
  .full-width;
  min-height: 300px;
  display: flex;
  justify-content: center;
}

.menu-item-selected {
  @extend %menu-item, .semi-bold;
  color: $green-cyan;
}

.border {
  @extend .self-center;
  width: 5px;
  height: 35px;
  border-radius: 3px 0 0 3px;
  background-color: $green-cyan;
}

.menu-item-not-selected {
  @extend %menu-item;
}

.menu-item-not-selected:hover > div > h2 {
  color: $green-cyan;
}

.menu-item-not-selected:hover > div > svg path {
  fill: $green-cyan;
}


.menu-icon {
  width: $menu-icon-size;
  height: $menu-text-height;

  &.menu-icon-img-selected path {
    fill: $green-cyan;
  }
}

.menu-icon-selected {
  border-radius: 30px;
  background-color: $green-cyan;
}

.sub-menu-container {
  @extend .full-width;
  color: $green-cyan;
}

.sub-item {
  @extend .smaller-text;
}

.sub-item-icon {
  width: $sub-item-size;
  height: $menu-text-height;
}

.icon-container {
  width: 35px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
