@import 'imports';
$menu-icon-size: 23px;
$menu-text-height: 20px;
$sub-item-size: 15px;

%menu-item {
  @extend .row,
  .middle,
  .full-width,
  .m-top-3,
  .m-bottom-3;

  color: $white;
  height: 25px;
}

.sub-menu {
  @extend .row,
  .middle,
  .full-width,
  .space-between;
}

.sub-menu-title {
  color: $white;
  font-size: 22px;
}

.sub-menu-title:hover {
  color: $te-papa-green;
}

.sub-menu-title-selected {
  @extend .semi-bold;
}

.container {
  @extend .column,
  .full-width;

  display: flex;
  justify-content: center;
  min-height: 260px;
}

.menu-item-selected {
  @extend %menu-item,
  .semi-bold;

  color: $te-papa-green;
}

.border {
  @extend .self-center;

  background-color: $te-papa-green;
  border-radius: 3px 0 0 3px;
  height: 35px;
  width: 5px;
}

.menu-item-not-selected {
  @extend %menu-item;
}

.menu-item-not-selected:hover > div > h2 {
  color: $te-papa-green;
}

.menu-item-not-selected:hover > div > svg path {
  fill: $te-papa-green;
}

.menu-icon {
  height: $menu-text-height;
  width: $menu-icon-size;

  &.menu-icon-img-selected path {
    fill: $te-papa-green;
  }
}

.menu-icon-selected {
  background-color: $te-papa-green;
  border-radius: 30px;
}

.sub-menu-container {
  @extend .full-width;

  color: $te-papa-green;
}

.sub-item {
  @extend .smaller-text;
}

.sub-item-icon {
  height: $menu-text-height;
  width: $sub-item-size;
}

.icon-container {
  align-items: center;
  display: flex;
  height: 28px;
  justify-content: center;
  width: 35px;
}
