@import 'imports';

.container {
  @extend .row,
  .full-width,
  .space-between,
  .middle;

  background-color: $white;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px;
}

.person-info-container {
  @extend .column;
}

.person-info-row {
  @extend .row;

  font-size: 16px;
}

.person-info-title {
  @extend .medium,
  .m-right-1;
}
