@import 'imports';

.menu-items-container {
  @extend .full-width;

  padding: 0 20px;
}

.side-bar {
  @extend .column,
  .center;

  background: $green-cyan;
  box-shadow: 2px 1px 20px 1px $green-cyan;
  padding: 10px;
  width: 700px;
}

.sticky {
  position: sticky;
  top: 0;
}
