@import 'imports';

.menu-items-container {
  @extend .p-left-4, .full-width;
}

.side-bar {
  @extend .column,
  .center;
  height: 100vh;
  padding: 10px;
  background: $caribbean-green;
  width: 500px;
  box-shadow: 2px 1px 20px 1px $caribbean-green;
}

.sticky {
  @extend .full-height;
  position: sticky;
  top: 0;
}
