@import 'imports';

.container {
  @extend .row,
  .full-width,
  .full-height;

  @include md {
    align-items: center;
    flex-direction: column;
  }
  padding: 30px 0 0;
}

.navigator-container {
  @extend .column,
  .center;

  @include md {
    margin-right: 0;
    padding-bottom: 30px;
    width: 100%;
  }
  margin-right: 40px;
  width: 40%;
}
