@import 'variables/breakpoints';

@import 'variables/fonts';

@import 'animations';

@import 'layout';

@import 'margins';

@import 'components';

@import 'variables/variables';

@import 'inputs';

@import 'fonts';

@import 'coreSettings';

* {
  box-sizing: border-box;
  font-family: $poppins;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: inherit;
  display: block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

button {
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.anchor {
  position: relative;
}

.section-title {
  @extend .row,
  .top,
  .full-width,
  .medium;

  margin-bottom: 10px;
  margin-left: 2px;
}

.select-label {
  @extend .small-text,
  .medium;

  align-items: center;
  background-color: $green-cyan;
  color: $white;
  display: flex;
  flex-direction: row;
  line-height: 21px;
  padding: 8px 0 8px 12px;
}
