$transparent: transparent;
$white: #FFF;
$black: #000;
$black-tooltip: #222;
$blue: #06F;
$azure: #35599F;
$valencia: #D34836;
$silver: #C5C5C5;
$gray-default: #808080;
$light-gray: #CCC;
$whisper: #EEE;
$navbar-color: #F9F9F9;
$dove-gray: #C2D1E2;
$brand-primary: var(--brand-primary);
$santas-gray: #969BAB;
$torch-red: #FF003E;
$light-green: #D9F5ED;
$anakiwa: #94C5FF;
$azure-radiant: #09F;
$turquoise-blue: #66DCEA;
$maximum-green: #618B25;
$yellow-green: #7BB12F;
$elephant: #0E313E;
$outer-space-crayola: #30545F;
$tea-green: #CFE0C3;
$green-sheen: #70A9A1;
$teal-blue: #40798C;
$blue-green: #579BB2;
$caribbean-green: #0BCC8B;
$te-papa-green: #204D48;
$green-cyan: #089B6A;
